In [3]:
import pandas as pd 
import numpy as np

In [4]:
person_list = [("harshal", "", "kumre", 1, "M"),
    ("bhavya", "shah", "", 2, "M"),
    ("trilok", "hesiboy", "best", 7, "M")]

In [5]:
person_list

[('harshal', '', 'kumre', 1, 'M'),
 ('bhavya', 'shah', '', 2, 'M'),
 ('trilok', 'hesiboy', 'best', 7, 'M')]

In [6]:
pd.DataFrame(person_list)

         0        1      2  3  4
0  harshal           kumre  1  M
1   bhavya     shah         2  M
2   trilok  hesiboy   best  7  M

In [7]:
data = pd.DataFrame(person_list)

In [8]:
data.replace("", np.nan).isnull().sum()

0    0
1    1
2    1
3    0
4    0
dtype: int64

In [9]:
data.isnull().sum()

0    0
1    0
2    0
3    0
4    0
dtype: int64

In [10]:
data

         0        1      2  3  4
0  harshal           kumre  1  M
1   bhavya     shah         2  M
2   trilok  hesiboy   best  7  M

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       3 non-null      object
 1   1       3 non-null      object
 2   2       3 non-null      object
 3   3       3 non-null      int64
 4   4       3 non-null      object
dtypes: int64(1), object(4)
memory usage: 248.0+ bytes

In [13]:
pd.read_csv("file.csv")

         0      1     2    3      4     5     6        7     8     9    10  11
0      7.8  0.880  0.00  2.6  0.098  25.0  67.0  0.99680  3.20  0.68   9.8   5
1      7.8  0.760  0.04  2.3  0.092  15.0  54.0  0.99700  3.26  0.65   9.8   5
2     11.2  0.280  0.56  1.9  0.075  17.0  60.0  0.99800  3.16  0.58   9.8   6
3      7.4  0.700  0.00  1.9  0.076  11.0  34.0  0.99780  3.51  0.56   9.4   5
4      7.4  0.660  0.00  1.8  0.075  13.0  40.0  0.99780  3.51  0.56   9.4   5
...    ...    ...   ...  ...    ...   ...   ...      ...   ...   ...   ...  ..
1593   6.2  0.600  0.08  2.0  0.090  32.0  44.0  0.99490  3.45  0.58  10.5   5
1594   5.9  0.550  0.10  2.2  0.062  39.0  51.0  0.99512  3.52  0.76  11.2   6
1595   6.3  0.510  0.13  2.3  0.076  29.0  40.0  0.99574  3.42  0.75  11.0   6
1596   5.9  0.645  0.12  2.0  0.075  32.0  44.0  0.99547  3.57  0.71  10.2   5
1597   6.0  0.310  0.47  3.6  0.067  18.0  42.0  0.99549  3.39  0.66  11.0   6

[1598 rows x 12 columns]

In [14]:
df = pd.read_csv("file.csv")

In [15]:
df.head()

      0     1     2    3      4     5     6       7     8     9   10  11
0   7.8  0.88  0.00  2.6  0.098  25.0  67.0  0.9968  3.20  0.68  9.8   5
1   7.8  0.76  0.04  2.3  0.092  15.0  54.0  0.9970  3.26  0.65  9.8   5
2  11.2  0.28  0.56  1.9  0.075  17.0  60.0  0.9980  3.16  0.58  9.8   6
3   7.4  0.70  0.00  1.9  0.076  11.0  34.0  0.9978  3.51  0.56  9.4   5
4   7.4  0.66  0.00  1.8  0.075  13.0  40.0  0.9978  3.51  0.56  9.4   5

In [16]:
dft = df.head().T

In [17]:
dft

          0       1       2        3        4
0    7.8000   7.800  11.200   7.4000   7.4000
1    0.8800   0.760   0.280   0.7000   0.6600
2    0.0000   0.040   0.560   0.0000   0.0000
3    2.6000   2.300   1.900   1.9000   1.8000
4    0.0980   0.092   0.075   0.0760   0.0750
5   25.0000  15.000  17.000  11.0000  13.0000
6   67.0000  54.000  60.000  34.0000  40.0000
7    0.9968   0.997   0.998   0.9978   0.9978
8    3.2000   3.260   3.160   3.5100   3.5100
9    0.6800   0.650   0.580   0.5600   0.5600
10   9.8000   9.800   9.800   9.4000   9.4000
11   5.0000   5.000   6.000   5.0000   5.0000

In [18]:
dft.to_json("demojson1.json")

In [1]:
import pandas as pd  
import numpy as np

In [2]:
data = pd.read_csv("winequality_red.csv")

In [3]:
data.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [4]:
data.shape

(1599, 12)

In [5]:
data.columns

Index(['fixed acidity', 'volatile acidity', 'citric acid', 'residual sugar',
       'chlorides', 'free sulfur dioxide', 'total sulfur dioxide', 'density',
       'pH', 'sulphates', 'alcohol', 'quality'],
      dtype='object')

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599 entries, 0 to 1598
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         1599 non-null   float64
 1   volatile acidity      1599 non-null   float64
 2   citric acid           1599 non-null   float64
 3   residual sugar        1599 non-null   float64
 4   chlorides             1599 non-null   float64
 5   free sulfur dioxide   1599 non-null   float64
 6   total sulfur dioxide  1599 non-null   float64
 7   density               1599 non-null   float64
 8   pH                    1599 non-null   float64
 9   sulphates             1599 non-null   float64
 10  alcohol               1599 non-null   float64
 11  quality               1599 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 150.0 KB

In [7]:
data.isnull().sum()

fixed acidity           0
volatile acidity        0
citric acid             0
residual sugar          0
chlorides               0
free sulfur dioxide     0
total sulfur dioxide    0
density                 0
pH                      0
sulphates               0
alcohol                 0
quality                 0
dtype: int64

In [9]:
data['quality'].unique()

array([5, 6, 7, 4, 8, 3])

In [10]:
arr = data['quality'].unique()

In [11]:
arr[0]

5

In [12]:
arr[2]

7

In [13]:
arr[1]

6